<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>泰星达（北京）系统有限公司</title>
    <!-- <meta name="keywords" content="×××,dmaku" />
    <meta name="description" content="×××企业网站系统dmaku是采用PHP+MYSQL技术和MVC模式进行开发的，架构清晰，代码易于维护。支持伪静态功能，可生成google和百度地图，支持自定义url、关键字和描述，符合SEO标准。拥有企业网站常用的模块功能(企业简介模块、新闻模块、产品模块、下载模块、图片模块、在线留言、在线订单、友情链接、网站地图等)，强大灵活的后台管理功能，可为企业打造出专业且具有营销力的标准网站。" /> -->
    <meta name="applicable-device"content="pc,mobile">
            <!-- <link href=/css/bootstrap.css" rel="stylesheet"> -->
            <link rel="stylesheet" href="/static/css/until_css/bootstrap.css">
            <link href="/static/css/until_css/bxslider.css" rel="stylesheet">
            <link href="/static/css/until_css/style.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/css/until_css/pagination_users.css">
            <link rel="stylesheet" href="/static/css/main_css/index.css">
            <script src="/static/js/until_js/jquery.min.js"></script>
            <script src="/static/js/until_js//jquery.min.js"></script>
            <script src="/static/js/until_js//bxslider.min.js"></script>
            <script src="/static/js/until_js//common.js"></script>
            <script src="/static/js/until_js//bootstrap.js"></script>
            
<body>
<!-- 头部 -->
{% include 'bash.html' %}
    <!-- 中部轮播图 -->
    <div class="flash">
    </div>
<div class="product_bg">
    <div class="container">    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="product_index">
                        <div class="product_head" data-move-y="-40px">
                            <h2>产品中心1111111111</h2>
                            <span></span>
                            <p>PRODUCT DISPLAY</p>
                        </div>
                        <div class="product_list">
                         
                       </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
    <div id="pages">
    </div>
<footer>
    <div class="copyright">
        <p class="copyright_p">地址： 北京市顺义区空港科技园尚沃工厂505a</p>
    </div>
     
</footer>
</body>
<script src="/static/js/until_js/pagination.js"></script>
<script src="/static/js/main_js/index.js"></script>

</html>


