<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>prompt</title>

	<!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/prompt.css">
	<link rel="stylesheet" href="/static/css/public.css"> -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static//css/prompt.css">
</head>
<body>
	

	
	<div id="fof">
		<div class="fof_content">
			<h1 class="fof_l"> 4 </h1>
            <div id="indicatorContainer1"></div>
			<h1 class="fof_r"> 4 </h1>

			<p class="fof_txt">访问页面不存在,请重新加载!</p>
			<p class="txt_En">Not Found! Please Try Again!</p>
			<div>
			<button class="btn btn_f5">刷新页面</button>
			<button class="btn btn_back">返回上页</button>
			</div>
		</div>
	</div>






	<!-- js引入 -->
	<!-- <script src="/static/js/web-js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/web-js/echarts.min.js"></script>
	<script src="/static/js/web-js/radialIndicator.js"></script>
	<script src="/static/js/web-js/vue.min.js"></script>
	<script src="/static/js/web-js/prompt.js"></script>
	<script src="/static/js/web-js/bootstrap.min.js"></script> -->
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<script src="/static/js/radialIndicator.js"></script>
	<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/prompt.js"></script>


</body>
</html>