<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>标的详情</title>
    <link rel="icon" type="image/png" href="/static/i/ZDlogoicon.jpg">

    <!-- <link rel="stylesheet" href="/static/dist/styles.imageuploader.css"> -->
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css">
    <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/component.css"> -->
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/public.css">  
    <link rel="stylesheet" href="/static/css/mylaws.css">
    <link rel="stylesheet" href="/static/css/entering.css">
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="stylesheet" href="/static/css/upload.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<style>
  .show_list{display: block;}
  .hide_lits{display: none;}
</style>
<body> 
  <div class="am-g tpl-g">
    {% include 'hash.html' %}
     <!-- 主题盒子 -->
           
     <div class="tpl-content-wrapper">
          
            <div class="row-content am-cf case_cart">
                <!-- <div class="row  am-cf head_title"> -->
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 head_content">
                        <i class="am-icon-arrow-left sidebar-nav-link-logo black" style="font-size: 18px;"></i>
                        <i class="am-icon-tags sidebar-nav-link-logo" style="font-size: 18px;"></i>标的详情
                    </div>
                  <!-- </div> -->
                    <div class="row  am-cf">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                           <div class="widget content am-cf headwapper">
                                <div class="widget am-cf">
                                                  <div class="head_state">
                                                     <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl title_left">拍前</div>
                                                            <div class="widget-function am-fr" style="margin-top: -10px;">
                                                                <a href="javascript:;"  class="md-trigger btn  btn-sm  object_head_update">
                                                                    <i class="am-icon-pencil-square-o sidebar-nav-link-logo tubiao"></i>
                                                                </a>
                                                                <a class="blackdiv black biaodi_black"><img src="/static/img/last.png" alt="">返回</a>
                                                            
                                                            </div>
                                                         <hr class="hr"> 
                                                     </div>   
                                                    
                                                 </div>
                                </div>  
                                <div class="widget am-cf">
                                    <div class="ping_state">
                                        <div class="widget-head am-cf ">
                                            <div class="widget-title am-fl title_left">拍中</div>
                                            <div class="widget-function am-fr" style="margin-top: -10px;">
                                                <a href="javascript:;" class="md-trigger btn  btn-sm  ing_update">
                                                    <i class="am-icon-pencil-square-o sidebar-nav-link-logo tubiao"></i>
                                                </a>
                                            </div>
                                            <hr class="hr"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="widget am-cf">
                                    <div class="later_state">
                                        <div class="widget-head am-cf">
                                            <div class="widget-title am-fl title_left">拍后</div>
                                                <div class="widget-function am-fr" style="margin-top: -10px;">
                                                    <a href="javascript:;" class="md-trigger btn  btn-sm  later_update">
                                                        <i class="am-icon-pencil-square-o sidebar-nav-link-logo tubiao"></i>
                                                    </a>
                                                </div>
                                                <hr class="hr"> 
                                        </div>
                                        
                                    </div>
                               </div>
                 
   
                           
                          </div>
                        </div>
                    </div>  

                
                 
                   
                    
                
                     
                <button type="button" style="display:none;" class="am-btn am-btn-default am-btn-success object_uuid"><span class="am-icon-plus object_uuidtetx">{{ object_uuid }}</span> </button>
                <button type="button" style="display:none;" class="am-btn am-btn-default am-btn-success "><span class="am-icon-plus law_uuidx"></span> </button>          

            </div>



             <div class="modal fade" id="object_head"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel"> 
                               编辑拍前内容
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">标的名称 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input object_name" id="user-name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">委托方 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input entrusting_party" id="user-name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">业务类型 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="business_type" data-am-selected="{btnSize: 'sm'}">
                                                <option value="0">请选择</option>
                                                <option value="1">司法拍卖</option>
                                                <option value="2">破产清算</option>
                                                <option value="3">其他</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">所在地 <span class="tpl-form-line-small-title">*</span></label>
                                                <div class="am-u-sm-3">
                                                    <select id="s_province" name="s_province"></select>  

                                                </div>
                                                <div class="am-u-sm-3">
                                                    <select id="s_city" name="s_city" ></select>  

                                                </div>
                                                <div class="am-u-sm-3">
                                                    <select id="s_county" name="s_county"></select>
                                                </div>
                                            
                                                <!--县区选择-->
                                           
                                        <!-- <div class="am-u-sm-9 old_arddess">
                                            <input type="text" class="tpl-form-input object_location" id="user-name" placeholder="">
                                        </div> -->
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">详细地址<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input address" id="user-name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">资产类型 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="property_type" data-am-selected="{btnSize: 'sm'}">
                                                <option value="0">请选择</option>
                                                <option value="1">住宅用房</option>
                                                <option value="2">商业用房</option>
                                                <option value="3">工业用房</option>
                                                <option value="4">其他用房</option>
                                                <option value="5">机动车</option>
                                                <option value="6">其他交通</option>
                                                <option value="7">股权</option>
                                                <option value="8">土地</option>
                                                <option value="9">机器设备</option>
                                                <option value="10">其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">资产规模<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="estimated_price">
                                                <option value="0">请选择</option>
                                                <option value="1">100万以下</option>
                                                <option value="2">100-1000万</option>
                                                <option value="3">1000万以上</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true object_head_true">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close object_head_off" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="object_ing"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel">
                               编辑拍中
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">拍卖阶段 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="auction_state">
                                                <!-- <option value="0">请选择</option> -->
                                                <option value="1">一拍</option>
                                                <option value="2">二拍</option>
                                                <option value="3">变卖</option>
                                                <option value="4">其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">拍卖平台 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="pai_pingtai">
                                                <option value="0">请选择</option>
                                                <option value="1">淘宝网</option>
                                                <option value="2">京东网</option>
                                                <option value="3">中拍网</option>
                                                <option value="4">诉讼资产网</option>
                                                <option value="5">公拍网</option>
                                                <option value="6">工行融e购</option>
                                                <option value="7">北交所</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">拍卖网址 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="auction_url">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">开拍时间 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="datetime-local" class="start_time">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">结束时间 <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="datetime-local" class="auction_submissionDate">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">起拍价(￥) <span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="starting_price" id="price_num">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">评估价(￥) <span class="tpl-form-line-small-title"></span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="appraisal_price" id="transaction_price">
                                        </div>
                                    </div>
                                
                               
                                    
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true update_ing_true">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="object_later"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel">
                               编辑拍后
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">拍卖结果<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select name="" id="" class="after_state">
                                                <option value="0">请选择</option>
                                                <option value="1">一拍成交</option>
                                                <option value="2">二拍成交</option>
                                                <option value="3">变卖成交</option>
                                                <option value="4">其他成交</option>
                                                <option value="5">以物抵债</option>
                                                <option value="6">撤拍</option>
                                                <option value="7">其他未成交</option>
        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group paimai">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">成交价<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="transaction_price">
                                        </div>
                                    </div>
                                    <div class="am-form-group paimai">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">溢价率(%)<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="premium_rate" disabled>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">应收服务费<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="receivable_serviceCharge">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">已收服务费<span class="tpl-form-line-small-title">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="received_serviceCharge">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">备注<span class="tpl-form-line-small-title"></span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="object_note">
                                        </div>
                                    </div>
                                    

                                  
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true   update_later_true">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
         




            
           








         <!-- 模态框 -->
            <div class="modal fade" id="diao_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true diao_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="photo_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true photo_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ping_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true ping_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fu_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true fu_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="jioage_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true jioage_delete_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fapiao_delete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        
                        </div>
                        <div class="modal-body">
                            <div class="create-fill">
                                    <p>确定删除吗？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true fapiao_delete_True">
                            确定
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- 标的调查表添加模态框 -->
            <div class="modal fade" id="object_diao_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加标的调查表
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">标的调查表上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile" multiple="multiple" id="diao_file" class="diao_file">
                                        <div class="file_name">
                                            <div id="diao_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(仅支持图片/pdf文件上传，图片大小不能超过2M，文件不能超过5M)</i>
                                    
                                    </div>

                                    </div>
                                </div>

                                
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true diao_add_True">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 标的图片上传 -->
            <div class="modal fade" id="object_photo_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加标的图片
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">标的图片上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile" multiple="multiple" id="photo_file" class="photo_file" accept="image/*">
                                        <div class="file_name">
                                            <div id="photo_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(图片大小不能超过2M)</i>
                                    
                                    </div>

                                    </div>
                                </div>

                                
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true photo_addTrue">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 评估摘要模态框 -->
            <div class="modal fade" id="object_ping_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加评估摘要
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">评估摘要上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile" multiple="multiple" id="ping_file" class="ping_file">
                                        <div class="file_name">
                                            <div id="ping_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(支持pdf/图片上传，图片大小不能超过2M，pdf不能超过5M)</i>
                                    
                                    </div>

                                    </div>
                                </div>

                                
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true ping_addTrue">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 交割确认书模态框 -->
            <div class="modal fade" id="object_jioage_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加评估摘要
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">交割确认书上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile" multiple="multiple" id="jioage_file" class="jioage_file">
                                        <div class="file_name">
                                            <div id="jioage_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(支持pdf/图片上传，图片大小不能超过2M，pdf不能超过5M)</i>
                                    
                                    </div>

                                    </div>
                                </div>

                                
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true jioage_addTrue">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 发票模态框 -->
            <div class="modal fade" id="object_fapiao_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加发票
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">发票上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile" multiple="multiple" id="fapiao_file" class="fapiao_file">
                                        <div class="file_name">
                                            <div id="fapiao_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(支持pdf/图片上传，图片大小不能超过2M，pdf不能超过5M)</i>
                                    </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true fapiao_addTrue">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 附件模态框 -->
            <div class="modal fade" id="object_fujian_add"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog"  style="overflow: auto; pointer-events:auto">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <hs5class="modal-title" id="myModalLabel">
                            添加附件
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <form   style="border: 1px solid #ddd;" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">附件上传 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">   
                                        <input type="file" name="myfile"  accept=".rar,.zip" multiple="multiple" id="fuijian_file" class="fujian_file">
                                        <div class="file_name">
                                            <div id="fujian_text"></div>
                                        </div> 
                                        <i style="font-size: 12px;">(支持pdf/图片上传，图片大小不能超过2M，pdf不能超过5M)</i>
                                    </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary modal-btn-true fujian_addTrue">
                            提交
                            </button>
                            <button type="button" class="btn btn-default modal-btn-close" data-dismiss="modal" style="margin-right:100px;">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- <script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script> -->
     <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/jquery-1.12.4.min.js"></script> 
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/x-admin.js"></script>
    <script src="/static/js/citydata.js"></script>
    <script src="/static/js/md5.pro.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/pdfjs/build/pdf.js"></script>
    <script src="/static/js/public.js"></script>    
    <!-- <script src="/static/js/area.js"></script>
    <script src="/static/js/select.js"></script> -->
    <script class="resources library" src="/static/js/area.js" type="text/javascript"></script>
    <script type="text/javascript">_init_area();</script>
    <script type="text/javascript">      
     layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        // laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层
        from = layui.from
        //以上模块根据需要引入
    });
    // function City(){
    //     var sheng = document.getElementById('sheng');
    //     var shi = document.getElementById('shi');
    //     var qu = document.getElementById('qu');
    //     // 获取数据
    //     // 遍历数组省
    //     var data = cityData;
    //     for (var i = 0; i < data.length; i++) {
    //         var option = new Option(data[i]["text"], i);
    //         sheng.add(option);
    //       }
    //     //下拉框 省的事件
    //     sheng.onchange = function sheng_optionfun(){
    //         var value = sheng.value 
    //         console.log(value)
    //         qu.options.length = 0;
    //         shi.options.length = 0;
    //     if (value >= 0) {
    //     //添加-市
    //     for (var j = 0; j < data[value]["children"].length; j++) {//遍历出每个市
    //             var option = new Option(data[value]["children"][j]["text"], j);
    //             shi.add(option);//市
    //     // 区-默认值
    //         for (var i = 0; i < data[value]["children"][0]["children"].length; i++) {
    //             var qu_option = new Option(data[value]["children"][0]["children"][i]["text"], i);
    //             qu.add(qu_option);
    //            }
    //     //下拉框-市的事件-方法
    //             shi.onchange = function () {
    //                 var values = this.value;//获取市-value值
    //                 qu.options.length = 0;//清除区
    //                 for (var i = 0; i < data[value]["children"][values]["children"].length; i++) {
    //                     var qu_option = new Option(data[value]["children"][values]["children"][i]["text"], i);
    //                     qu.add(qu_option);
    //                 }
    //             }
    //        }
    //        }
    //       }
    // }
    // City()
           
  
 
	</script>
    <script type="text/javascript">

        var Gid  = document.getElementById ;
        
        var showArea = function(){
        
            Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" + 	
        
            Gid('s_city').value + " - 县/区" + 
        
            Gid('s_county').value + "</h3>"
        
                                    }
        
        // Gid('s_county').setAttribute('onchange','showArea()');
        
        </script>
  <script src="/static/js/function.js"></script>
  <script src="/static/js/object_details.js"></script>
  <script src="/static/js/upload.js"></script>
  <script src="/static/js/modal.js"></script>
</body>
</html>
