
      <!-- 脚注 -->
      <footer class="dark-footer"  style="background-image: url(img/image-20.jpg);">
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-item">
                  <img width="110" src="/static/img/logo.png" alt="Logo">
                  <div class="mt-20 mb-20">
                    <button type="button" class="btn btn-1 btn-sm" data-toggle="modal" data-target="#newsletterModal">
                      Newsletter signup
                    </button>
                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-sm" id="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Newsletter Signup</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form id="subscribe-form" class="form-block" novalidate="novalidate">
                              <div class="form-group mt-20 subscribe-form">
                                <small id="emailHelp" class="form-text text-muted">Subscribe now and recieve a 50% discount on your next tour booking</small>
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" placeholder="Email">
                              </div>
                              <div class="mt-10 mb-10 float-right">
                                <button type="button" class="btn btn-2 btn-sm" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-1 btn-sm">Sign Up</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div>
                
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-item">
                  <ul class="footer-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                  <p class="mt-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, aperiam consequuntur excepturi ab maiores reiciendis quo corporis maxime hic pariatur rerum deleniti deserunt aliquid modi, aliquam delectus veniam debitis molestiae.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="footer-item">
                  <ul class="mb-20">
                    <li>1800-2345-5677</li>
                    <li class="mt-10"><a href="mailto:">info@voyagetime.com</a></li>
                    <li class="mt-10">610 Broadway New York, NY 10012</li>
                  </ul>
                  
                </div>
  
                <div class="footer-item">
                  <ul class="footer-social mt-20">
                    <li><a target="_blank" href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fab fa-tumblr"></i></a></li>
                  </ul>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/"></a></p>
              </div>
              <div class="col-md-6 text-r mobile-left">
                <!-- <p><img width="200" src="img/visa-mastercard-paypal.png" alt="Visa Mastercard Paypal"></p> -->
              </div>
            </div>
          </div>
        </div>
      </footer>